@model ProyectoFinal_Laboratorio4.Models.Categoría

@{
    ViewData["Title"] = "Detalles de la categoría";
}

<h1>Detalles</h1>

<div>
    <h4>Categoría:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripción)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
